body {
	font-family: "Arial", "sans serif";
	font-size: 16px;
}

#container {
	margin: 0 auto;
	width: 500px;
	border-style: solid;
	padding: 1rem;
}

#container h1 {
	font-size: 1.5rem;
}

#container p {
	font-size: 1rem;
}

#title {
	border-bottom: 1.5rem solid black;
}

.row-1 {
	display: flex;
	justify-content: flex-end;
}

.cols {								/* thicker line between after header*/
	display: flex;
	justify-content: space-between;
	border-bottom: 1rem solid black;
}

.cal {
	margin-left: 1rem;
}


.row-2 {
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	border-bottom: 0.1rem solid grey;
}
.row-3 {
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	border-bottom: 0.1rem solid grey;
}



#vitamine{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 100%;
}
#vitamine div{
	display: flex;
	flex-flow:  column;
	
}
hr {
	border: 0.1rem solid grey;
}

dd{
	padding-left: 4em;
}

#pre_row{
	
	border-bottom: 0.1em solid grey;
	display: flex;
	justify-content: flex-end;	
}
#pre_row span{
	
	padding:0px 1.7em 0px 3.5em;
	
	
}
#pre_row span:nth-child(2){
	margin-right: -1.3em;
	
}